<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeAddandCreate" />
                <binding name="BasicHttpBinding_IEmployeeRetrieve" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IEmployeeAddandCreate" />
                <binding name="WSHttpBinding_IEmployeeRetrieve" />
                <binding name="MetadataExchangeHttpBinding_IEmployeeAddandCreate">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpBinding_IEmployeeRetrieve">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63894/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeAddandCreate"
                contract="EmployeeService.IEmployeeAddandCreate" name="BasicHttpBinding_IEmployeeAddandCreate" />
            <endpoint address="http://localhost:63894/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeRetrieve"
                contract="EmployeeService.IEmployeeRetrieve" name="BasicHttpBinding_IEmployeeRetrieve" />
            <endpoint address="http://localhost:63894/EmployeeService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeAddandCreate"
                contract="EmployeeService.IEmployeeAddandCreate" name="WSHttpBinding_IEmployeeAddandCreate">
                <identity>
                    <userPrincipalName value="bbaggi@pune.tavisca.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:63894/EmployeeService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEmployeeRetrieve"
                contract="EmployeeService.IEmployeeRetrieve" name="WSHttpBinding_IEmployeeRetrieve">
                <identity>
                    <userPrincipalName value="bbaggi@pune.tavisca.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:63894/EmployeeService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IEmployeeAddandCreate"
                contract="EmployeeService.IEmployeeAddandCreate" name="MetadataExchangeHttpBinding_IEmployeeAddandCreate" />
            <endpoint address="http://localhost:63894/EmployeeService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IEmployeeRetrieve"
                contract="EmployeeService.IEmployeeRetrieve" name="MetadataExchangeHttpBinding_IEmployeeRetrieve" />
        </client>
    </system.serviceModel>
</configuration>